.anamnese{
  background: #a8e0df;
  color: #006867;
  font-family: 'Barlow', sans-serif;
  border-radius: 10px 10px 0 0;
  font-size: 18px;
  width: 38.7vw;
  height: 40px;
  margin: 0px;
  margin-left: -20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.doencas-data{
  background: #a8e0df;
  text-align: center; 
  border-radius: 8px;
  height: 20px;

}

.amamnese-data{
  font-size: 17px;
}

.container{
  background: #f4ecf8;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction:row;
  /* flex-wrap: wrap; */
  align-items: center;  
}

form, .container3{
  box-shadow:  22px 22px 41px #cfc9d3,
               -22px -22px 41px #cfc9d3;
  background: white;
  height: 78vh;
  width: 38.7vw;
  border-radius: 10px;
  display: flex;
  align-items:flex-start;
  flex-direction: column;  
  padding-left: 20px;
  padding-bottom: 20px;
  /* padding-right: 20px; */
}
.container3{
  height: 50vh;
}
.button-data{
  width: 40.7vw;
}

.dropDown,textarea{
  background: #f4ecf8;
  border-radius: 5px;
  border: transparent;
  outline: none;
  height: 40px;
  width: 37vw;
  color:  #817f81;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -10px;
}
textarea{
  width: 36vw;
}

option{
  color: #006867;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
}

.title{
  font-size: 17px;
}

.historico{
  height: 100px;
}

button, .button-data{
  background: #ec0056;
  font-size: 18px;
  color: white;
  border: transparent;
  outline: none;
  width: 37vw;
  height: 50px;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}
button:active {
  box-shadow: inset 22px 22px 41px #8b033598,
            inset -22px -22px 41px #b40545cc;
  position: relative;
  height: 48px;
}

p{
  font-size: 15px;
}


 @media (max-width: 800px) {
  .container{
    display: flex;
    align-items:center;
    flex-direction: column; 
  }
  
  img{
    width: 100px;
  }
}
@media only screen and (min-width:320px) and (max-width: 700px) {
  .container2{
    display: flex;
    flex-direction: column; 
    /* align-items: center; */
  }
  button, .dropDown, .button-data{
    width: 17rem
  }
  .historico{
    width: 16rem;
  }
  .container3{
    display: flex;
    flex-direction: column; 
    align-items:flex-start;
  }
  .anamnese,form, .container3{
    width: 18rem;
  }
  img{
    top: -10px;
    width: 100px;
    position: relative;
    z-index: 1;
  }
  form, .container3{
    top: -40px;
    position: relative;
  }

}
@media only screen and (min-width:200px) and (max-width: 320px) {
  button, .button-data, .dropDown{
    width: 13rem
  }
  .historico{
    width: 12rem;
  }
  .anamnese,form, .container3{
    width: 14rem;
  }
}